/**
 * @section Grid Styles
 */

body {
  padding: 20px;
  background-color: #d0ba23;
}

#gridContainer {
  padding-bottom: 10px;
}

table {
  background-color: #9cc3d6;
  border-spacing: 0;
}

td {
  border: 1px solid #3a728c;
  border-radius: 3px;
  width: 40px;
  height: 40px;
}

span {
  color: #222;
}

#start,
#clear {
  padding: .75em;
  border-radius: 5px;
  border: none;    
  background-color: #3087ba;
}

td.dead {
  background-color: transparent;
}

td.live {
  background-color: #CC4774;
  border-radius: 10px;
}